# Virtual environment
venv/
api_key.txt
TO DO.txt

# Python bytecode
*.pyc
__pycache__/

# System files (macOS example)
.DS_Store

# IDE files (VS Code example)
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
